#welcome {
  @include flex($dir: column, $just: space-between, $align: center);
  background: $color-dark;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 2.75rem;
}

#question {
  @include flex($dir: column, $just: space-between, $align: center);
  height: 100vh;
  width: 100%;
  padding: 2.75rem;
  background: $color-dark;
}

#score {
  @include flex($dir: column, $just: flex-start, $align: center);
  height: 100vh;
  width: 100%;
  padding: 2.75rem;
  background: $color-dark;
}
