.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  font-size: 18px;

  &-submit {
    background-color: $color-primary;
    color: $color-light;
    text-transform: uppercase;
    font-weight: weight(normal);

    &:hover {
      background-color: lighten($color-primary, 8%);
    }
  }
}
